/* Fonts */

/* heebo-regular - latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/heebo-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/heebo-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* heebo-500 - latin */
  @font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/heebo-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/heebo-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* heebo-700 - latin */
  @font-face {
    font-family:'Heebo';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/heebo-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/heebo-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    font-family: 'Heebo';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
    }

    /* header styles start */

.header {
    width: 100%;
    margin-bottom: 133px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 27px;
    /* background-color: rgb(183, 215, 215); */
}
    

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-end;
    justify-content: end;

}

.menu_item {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin-right: 36px;
    text-decoration: none;
    color: black;
}
.menu_item:hover, .menu_item:focus, .menu_item:active {
    opacity: 75%;
} 

    /* header styles end */
    /* main styles start */
.container {
    max-width: 886px;
    margin: 0 auto;
    padding: 15px;
}

.intro {
    margin-bottom: 15px;
}

.intro_items > .row_items {
    display: flex;
    /* background-color: rgb(137, 149, 188); */
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row_items > .avatar {
    width: 243px;
    height: 243px;
    order: 1;
}
.column_items > .title {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    width: 506px;
    flex-wrap: wrap;
    margin-bottom: 44px;
    color: #21243D;
}

.column_items > .subtitle {
    width: 497px;
    height: 66px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 38px;
}


.download_item {
    width: 208px;
    height: 47px;
    margin-bottom: 71px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    border-color: #FF6464;
    background-color:#FF6464;
    color: white;
    border-radius: 5%;
}

/* resent_post_block styles start */

.resent_post_block {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 396px;
    background: #EDF7FA;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}


.resent_posts_title {
    width: 374px;
    height: 85px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}
.resent_posts-data_place {
    width: 374px;
    height: 34px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    
    color: #21243D;
}
.resent_post_subtitle {
    width: 368px;
    height: 117px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;

}
.resent_posts {
    display: flex;
    width: 870px;
    height: 295px;
    left: 148px;
    top: 664px;
    background-color: white;
    align-items: center;
    justify-content: center;

}
.row_posts {
    display: flex;
    flex-direction: row;
}
/* resent_post_block styles end */
/* Featured works styles start */

.Featured_works_main_title {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 46px;
}
.row_Featured_works {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.colomn_1_part_1_Featured_works {
    width: 246px;
    height: 180px;
    background: url('../img/svg/Rectangle0.svg') no-repeat;
    background-size: cover;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.colomn_1_part_2_Featured_works {
    width: 246px;
    height: 180px;
    background: url('../img/svg/Rectangle1.png') no-repeat;
    background-size: cover;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.colomn_1_part_3_Featured_works {
    width: 246px;
    height: 180px;
    background: url('../img/svg/Rectangle2.png') no-repeat;
    background-size: cover;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px 4px 4px 4px;
}

.colomn_2_item_1_Featured_works {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Featured_works_title {
    width: 370px;
    height: 44px;
    text-decoration: none;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    margin-bottom: 10px;
}

.Featured_works_title:hover, .menu_item:focus, .menu_item:active {
    opacity: 85%;
} 

.flexbox_year2020 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.year2020 {
    width: 62px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 40px;
    background: #142850;
    border-radius: 16px;
    color: white;
    text-align: center;
    
    
}
.Dashboard {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    padding-left: 28px;

    color: #8695A4;
}


.colomn_2_item_3 {
    width: 594px;
    height: 90px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.line {
    width: 100%;
    height: 0px;
    border: 1px solid #E0E0E0;
    margin-bottom: 31px;

}
.line1 {
    width: 100%;
    height: 0px;
    border: 1px solid #E0E0E0;
    margin-bottom: 83px;

}
/* Featured works styles end */
/* main styles end */
/* footer styles start */
.sm_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}
.fb {
    width: 30px;
    height: 30px;
    background: url(../img/svg/sm/fb.png);
    margin-left: auto;
    margin-right: 35px;
}
.Group {
    width: 36.92px;
    height: 30px;
    background: url(../img/svg/sm/Group.png);
    margin-right: 35px;
}
.insta {
    width: 30px;
    height: 30px;
    background: url(../img/svg/sm/insta.png);
    margin-right: 35px;

}
.Linkedin {
    width: 30px;
    height: 30px;
    background: url(../img/svg/sm/Linkedin.png);
    margin-right: auto;
}
.rights {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #21243D;
    text-align: center;
    margin-bottom: 54px;
}
/* footer styles end */